*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
i.fa-bars{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: grey;
    padding: 5px 10px;
    border-radius: 10px;
    display: none;
}
#container{
    width: 70%;
    height: 100vh;
    margin: 0 auto;
}
p{
   font-size: 20px;
}
header{
    height: 17.8%;
    background-color: rgb(108, 181, 121);
    margin-bottom: 5%;
    line-height: 120px;
    position: relative;
    color: white ;
}
nav{
  background-color: #504e4e;
  line-height: 30px;
  height: 7%;
  z-index: 2;
  color: white;
  justify-content: center;
}
ul{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
ul li{
  font-size: 17px;

}
.contenu{
  display: flex;
  margin: 5%;
  width: 100%;
  height: 36%;
  line-height: 230px;
  position: relative;
  z-index: 1;
}
i.fa-plus{
   font-size: 20px;
   position: absolute;
   right: 20px;
   top: 10px;
   background-color:rgb(219, 211, 134);
   padding: 5px 10px;
   border-radius: 10px;
   z-index: 1;
   display: none;
}
main{
   width: 50%;
   margin-right: 5%;
   background-color: rgb(103, 154, 237);
   
}
aside{
   width: 35%;
   background-color: rgb(244, 213, 76);
}
footer{
   width: 100%;
   height: 17%;
   margin-top: 5%;
   background-color: rgb(235, 163, 55);
   line-height: 120px;
   color: white;
}
@media (max-width: 450px){
   #container{
       width: 100%;
       height: 100vh;
   }
   i.fa-bars, i.fa-plus{
       display: block;
   }
   
   header, footer{
       height: 25%;
       margin: 0;
   }
   nav{
       display: none;
       position: absolute;
       right: 0;
   }
   ul{
       display: flex;
       flex-direction: column;
       line-height: 80px;
   }
   .contenu{
       width: 90%;
       height: 50%;
       background-color: aqua;
       display: relative;
   }
   main{
       width: 100%;
   }
   aside{
       position: absolute;
       top: 0; 
      right: 0px;
       height: 100%;
       width: 50%;
       visibility: hidden;
   } 
}